{% extends 'base.html' %}
{% block content %}

<script>
$(document).ready(function () {
    var result = '{{ result }}';
    $('#result').val(result);
});
</script>

<style>
.panel-body {
    max-width: 450px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .panel-body {width: 90vw !important;}
}
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        Timestamp / Get
    </div>
    <div class="panel-body" style="margin: 0px auto;" >
        <form role="form" action="/timestamp" method="GET">
            <div style="display: inline-block; width: 100%">
                {% if timestamp %}
                    <input type="text" class="form-control" id="timestamp" name="value" placeholder="timestamp" value={{ timestamp }} style="width: calc(100% - 74px); float: left">
                {% else %}
                    <input type="text" class="form-control" id="timestamp" name="value" placeholder="timestamp" style="width: calc(100% - 74px); float: left">
                {% endif %}
                <button type="submit" class="btn btn-default" id="submit_button" style="float: right">Submit</button>
            </div>
        <input type="text" class="form-control" id="result" name="result" placeholder="result" >
        </form>
    </div>
</div>
{% endblock %}
