* {
  font-family:Helvetica;
}

.wrapper {
  width: 60vw; min-height: 100vh; margin: 0px auto; position: relative;
}

.main {
  padding-bottom: 5em;
}

#navbar-site-name {
  font-size: 105%;
}

a {
  color: black;
}

a:hover .underline {
  color: black;
}

a:hover {
  color: red; text-decoration: underline;
}

.navbar-brand:hover {
  cursor: pointer; cursor: hand;
}

.navbar-default {
  background-color: white;
  border-color:#ccc !important;
  border-radius: 0px !important;
}

.navbar-toggle {
  border-color: white !important;
  background-color: white !important;
}

.icon-bar {
  background-color:#d9534f !important;
}

.panel-default {
  border-radius: 0px !important;
  border-color: #e6e6e6 !important;
}

.panel-heading {
  text-align: center !important;
  background-color: white !important;
  border-bottom: none !important;
}

.debug {
  visibility: hidden;
}

.footer {
  padding: 2vh; font-size: 90%; text-align: center; position: absolute; width: 100%;bottom: 0;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .wrapper {
      width: 100vw !important; padding: 0 !important
    }
    #navbar-site-name {
      font-size: 120% !important
    }
}
